
:root{
    --background: #ffe5c4;
    --accent-color1: #000000;
    --accent-color2: #eeeeee;
    --accent-color3: #777777;
    --card-color: #ffc276;
    --orange: #ff8139;
    --font-family: 'Poppins';
}

